<div class="mgrTaskBlk">
    <form action="prodDisplay">
        <p>How would you like to display your data:</p>
        <input type="radio" id="daily" name="display" value="daily">
        <label for="daily">Daily</label><br>
        <input type="radio" id="biWeek" name="display" value="biWeek">
        <label for="biWeek">Bi-Weekly</label><br>
        <input type="radio" id="monthly" name="display" value="monthly">
        <label for="monthly">Monthly</label>
        <br>  
        <input type="submit" value="Submit">
    </form>
    <div class="prodGraph"></div>
</div>