<div class="mgrTaskBlk">
    <div class="form-group">
        <label for="category">Select Task:</label>
        <select class="custom-select" id="taskList">
            <option value="view employee stats">View Employee Stats</option>
            <option value="view overall hours">View Overall Hours</option>
            <option value="weekly recap">Weekly Recap</option>
            <option value="bi-weekly recap">Bi-Weekly Recap</option>
            <option value="range of dates">Range of Dates</option>

        </select>
    </div>
    <br />
    <button type="submit" class="button" value="Submit input">Submit</button>
</div>