<main class="section">
    <div class="container columns">
        <div class="column is-one-third is-offset-1 tasks card column has-background-info has-text-white-ter ">
            <h1 class="greeting has-text-weight-bold is-size-3">Welcome <span class="member-name">{{email}}</span></h1>
            <h3 class="has-text-weight-bold is-size-5">Tasks</h3>
            <div class="empTaskBlk">
                <div class="form-group">
                    <form id="employeeForm">
                        <label for="category">Select Task:</label>
                        <select class="custom-select" id="taskList">
                            <option value="New">New Job</option>
                            <option value="Logout">logout</option>
                            <input type="submit" value="Submit">
                        </select>
                    </form>
                </div>
            </div>
            <div class="empTasks">
            </div>
        </div>
        <div class="column is-6 is-offset-1 productivity card has-background-info has-text-white-ter">
            <h1 class="greeting has-text-weight-bold is-size-3" id="date"></h1>
            <h3 class="has-text-weight-bold is-size-5">Productivity</h3>
            <div class="empTaskBlk">
                <form id="dateFilter" action="prodDisplay">
                    <label for="category">Select Time Period:</label>
                    <select class="custom-select" id="dateTaskList">
                        <option value="Daily">Daily</option>
                        <option value="Bi-Weekly">Bi-Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <input type="submit" value="Submit">
                    </select>
                </form>
                <div id="prodGraph">
                    <div class="columns">
                            <svg class="column is-12" id="lineGraph">

                            </svg>
                    </div>
                </div>
            </div>
            <div class="empProd">
            </div>
        </div>
    </div>
    <div class="container columns">
        <div class="column is-11 today is-offset-1">
            <h3 class="has-text-weight-bold is-size-5 ">Job Data</h3>
            <table id="orderTable">
                <thead>
                    <tr class="has-background-info ">
                        <th></th>
                        <th class="has-text-white-ter">Repair Order Number</th>
                        <th class="has-text-white-ter">VIN #</th>
                        <th class="has-text-white-ter">Year,Make,Model</th>
                        <th class="has-text-white-ter">Customer Name</th>
                        <th class="has-text-white-ter">Job Description</th>
                        <th class="has-text-white-ter">Total Hours</th>
                        <th class="has-text-white-ter">Created Date</th>
                        <th class="has-text-white-ter">Modified Date</th>
                        <th class="has-text-white-ter">Edit</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <div class="empData"></div>
            </div>
            <div class="empToday">
            </div>
        </div>
    </div>
</main>
{{!-- NewOrder Modal area --}}
<div class="modal" id="newOrder">
    <div class="modal-background" id="modal-back"></div>
    <div class="modal-content has-background-white has-text-black py-5 px-5">
        <button class="delete is-pulled-right" id="close" aria-label="close"></button>
        <form action="" class="newJob">
            <p>New Job</p>
            <div class="field">
                <label class="label">Repair Order #</label>
                <div class="control">
                    <input class="input" id="repairOrderNumber" name="repairOrderNumber" type="text"
                        placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">VIN</label>
                <div class="control">
                    <input class="input" id="vin" name="vin" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Year, Make, and Model</label>
                <div class="control">
                    <input class="input" id="yearMakeModel" name="yearMakeModel" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" id="name" name="name" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" id="description" name="description" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Hours</label>
                <div class="control">
                    <input class="input" id="hours" name="hours" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" id="repairOrder" class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="editOrder">
    <div class="modal-background" id="modal-back"></div>
    <div class="modal-content has-background-white has-text-black py-5 px-5">
        <button class="delete is-pulled-right" id="close" aria-label="close"></button>
        <form action="" class="editJob">
            <p>Edit Job</p>
            <div class="field">
                <label class="label">ID#</label>
                <div class="control">
                    <input class="input" id="idEdit" name="idEdit" type="text" placeholder="Text input" readonly>
                </div>
            </div>
            <div class="field">
                <label class="label">Repair Order ID</label>
                <div class="control">
                    <input class="input" id="idEdit" name="repairOrderNumber" type="text" placeholder="Text input"
                        readonly>
                </div>
            </div>
            <div class="field">
                <label class="label">Repair Order #</label>
                <div class="control">
                    <input class="input" id="repairOrderNumberEdit" name="repairOrderNumber" type="text"
                        placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">VIN</label>
                <div class="control">
                    <input class="input" id="vinEdit" name="vin" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Year, Make and Model</label>
                <div class="control">
                    <input class="input" id="yearMakeModelEdit" name="yearMakeModel" type="text"
                        placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" id="nameEdit" name="name" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" id="descriptionEdit" name="description" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">hours</label>
                <div class="control">
                    <input class="input" id="hoursEdit" name="hours" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" id="repairOrderEdit" class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var orders = {{{ orders }}}
</script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="/js/employeeAction.js"></script>