{{!-- display either employee or manager --}}
<h1></h1>

<main class="section">
    <div class="container">
        <div class="column is-6 tasks">
            <h3>Tasks</h3>
            {{!-- employee tasks can go here and be hidden when not needed --}}
            <div class="empTasks">
                
            </div>
        </div>
        <div class="column is-6 productivity">
            <h3>Productivity</h3>
            {{!-- employee productivity can go here and be hidden when not needed --}}
            <div class="empProd">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="column is-12 today">
            <h3>Job Data</h3>
            {{!-- employee data can go here and be hidden when not needed --}}
            <div class="empToday">
                
            </div>
        </div>
    </div>
</main>