{{!-- display either employee or manager --}}
<h1>Welcome <span class="member-name">{{email}}</span></h1>

<main class="section">
    <div class="container columns">
        <div class="column is-6 tasks">
            <h3>Tasks</h3>
            {{!-- employee tasks can go here and be hidden when not needed --}}
            <div class="empTaskBlk">
                <div class="form-group">
                    <label for="category">Select Task:</label>
                    <select class="custom-select" id="taskList">
                        <option value="New Job">New Job</option>
                        <option value="Search Previous">Search Previous</option>
                        <option value="Edit Job">Edit Job</option>
                        <option value="Logout">logout</option>

                    </select>
                </div>
                <br />
                <button type="submit" class="button" value="emp-submit">Submit</button>
            </div>

            <div class="empTasks">

            </div>
        </div>
        <div class="column is-6 productivity">
            <h3>Productivity</h3>
            {{!-- employee productivity can go here and be hidden when not needed --}}
            <div class="empTaskBlk">
                <form action="prodDisplay">
                    <p>How would you like to display your data:</p>
                    <input type="radio" id="daily" name="display" value="daily">
                    <label for="daily">Daily</label><br>
                    <input type="radio" id="biWeek" name="display" value="biWeek">
                    <label for="biWeek">Bi-Weekly</label><br>
                    <input type="radio" id="monthly" name="display" value="monthly">
                    <label for="monthly">Monthly</label>
                    <br>
                    <input type="submit" value="Submit">
                </form>
                <div class="prodGraph"></div>
            </div>
            <div class="empProd">

            </div>
        </div>
    </div>
    <div class="container columns">
        <div class="column is-12 today">
            <h3>Job Data</h3>
            {{!-- employee data can go here and be hidden when not needed --}}
            <div>
                <div class="empData"></div>
            </div>
            <div class="empToday">

            </div>
        </div>
    </div>
</main>
{{!-- Modal area --}}
<div class="modal">
    <div class="modal-background" id="modal-back"></div>
    <div class="modal-content has-background-white has-text-black py-5 px-5">

        <form action="" class="newJob">
            <p>New Job</p>
            <div class="field">
                <label class="label">Repair Order #</label>
                <div class="control">
                    <input class="input" name="repairOrderNumber" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">VIN</label>
                <div class="control">
                    <input class="input" name="vin" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Year, Make and Model</label>
                <div class="control">
                    <input class="input" name="yearMakeModel" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" name="name" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" name="description" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">hours</label>
                <div class="control">
                    <input class="input" name="hours" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" id="repairOrder"class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="./js/employeeAction.js" type="script/javascript"></script>
