{{!-- display either employee or manager --}}
<h1>Welcome <span class="member-name">{{email}}</span></h1>

<main class="section">
    <div class="container columns">
        <div class="column is-6 tasks">
            <h3>Tasks</h3>
            {{!-- manager tasks can go here and be hidden when not needed --}}
            <div class="mgrTasks">
                <div class="mgrTaskBlk">
                    <div class="form-group">
                        <form id="managerForm">
                            <label for="category">Select Task:</label>
                            <select class="custom-select" id="taskList">
                                <option value="view employee stats">View Employee Stats</option>
                                <option value="view overall hours">View Overall Hours</option>
                                {{!-- <option value="weekly recap">Weekly Recap</option> --}}
                                {{!-- <option value="bi-weekly recap">Bi-Weekly Recap</option> --}}
                                {{!-- <option value="range of dates">Range of Dates</option> --}}
                                <option value="newEmployee">Create Employee</option>
                                <option value="Logout">logout</option>
                                <input type="submit" value="Submit">
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6 productivity">
            <h3>Productivity</h3>
            {{!-- manager productivity can go here and be hidden when not needed --}}
            <div class="mgrProd">
                <div class="mgrTaskBlk">
                    <form action="prodDisplay">
                        <p>How would you like to display your data:</p>
                        <input type="radio" id="daily" name="display" value="daily">
                        <label for="daily">Daily</label><br>
                        <input type="radio" id="biWeek" name="display" value="biWeek">
                        <label for="biWeek">Bi-Weekly</label><br>
                        <input type="radio" id="monthly" name="display" value="monthly">
                        <label for="monthly">Monthly</label>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                    <div class="prodGraph"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="container columns">
        <div class="column is-12 today">
            <h3>Job Data</h3>
            {{!-- manager data can go here and be hidden when not needed --}}
            <div class="mgrToday">
                <div>
                    <div class="mgrData"></div>
                </div>

            </div>
        </div>
    </div>
</main>
{{!-- New User Modal --}}
<div class="modal">
    <div class="modal-background" id="modal-back"></div>
    <div class="modal-content has-background-white has-text-black py-5 px-5">

        <form action="" id="newUser">
            <p>New User</p>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input id="emailInput" class="emailInput" name="email" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input id="passwordInput" class="passwordInput" name="password" type="text"
                        placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button id="empCreate" type="submit" class="button is-link">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="/js/managerAction.js" ></script>