{{!-- display either employee or manager --}}
<h1>Welcome <span class="member-name"></span></h1>

<main class="section">
    <div class="container">
        <div class="column is-6 tasks">
            <h3>Tasks</h3>
            {{!-- manager tasks can go here and be hidden when not needed --}}
            <div class="mgrTasks">
                <div class="mgrTaskBlk">
                    <div class="form-group">
                        <label for="category">Select Task:</label>
                        <select class="custom-select" id="taskList">
                            <option value="view employee stats">View Employee Stats</option>
                            <option value="view overall hours">View Overall Hours</option>
                            <option value="weekly recap">Weekly Recap</option>
                            <option value="bi-weekly recap">Bi-Weekly Recap</option>
                            <option value="range of dates">Range of Dates</option>

                        </select>
                    </div>
                    <br />
                    <button type="submit" class="button" value="Submit input">Submit</button>
                </div>
            </div>
        </div>
        <div class="column is-6 productivity">
            <h3>Productivity</h3>
            {{!-- manager productivity can go here and be hidden when not needed --}}
            <div class="mgrProd">
                <div class="mgrTaskBlk">
                    <form action="prodDisplay">
                        <p>How would you like to display your data:</p>
                        <input type="radio" id="daily" name="display" value="daily">
                        <label for="daily">Daily</label><br>
                        <input type="radio" id="biWeek" name="display" value="biWeek">
                        <label for="biWeek">Bi-Weekly</label><br>
                        <input type="radio" id="monthly" name="display" value="monthly">
                        <label for="monthly">Monthly</label>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                    <div class="prodGraph"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="column is-12 today">
            <h3>Job Data</h3>
            {{!-- manager data can go here and be hidden when not needed --}}
            <div class="mgrToday">
                <div>
                    <div class="mgrData"></div>
                </div>

            </div>
        </div>
    </div>
</main>
<script src="../public/js/managerAction.js" type="script/javascript"></script>