<main class="section">
  <div class="container columns">
    <div class="column is-three-fifths is-offset-one-fifth displayBox">
      <img src="/assets/DSR.jpg" class="dsr" alt="Daily Service Record">
    </div>
  </div>

  <div class="container columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <h2>Sign Up Form</h2>
      <form class="signup">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" size="55" id="email-input" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" size="60" class="form-control" id="password-input" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>

        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="button">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/">here</a></p>
    </div>
  </div>
</main>

<script type="text/javascript" src="/js/signup.js"></script>