form.signup,
form.login {
  margin-top: 50px;
  background-color: aqua;
}

/* TABLE CSS */
.demo {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
}
.demo th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.demo td {
  border:1px solid #C0C0C0;
  padding:5px;
}