form.signup,
form.login {
  margin-top: 50px;
  
};

#lineGraph{
   max-width:100%;
   max-height: 100%;
}


#orderTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  
  min-height: 100vh;
  
};
input {
  outline: 1px solid rgb(120,205,209);
};
.welcome {
  
  color:rgb(204,194,192);
};
.displayBox {
  background-color:rgb(120,205,209);
};
/* TABLE CSS */

table {
  border:2px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
};
.managerTable th {
  border:2px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
};
.managerTable td {
  border:2px solid #C0C0C0;
  padding:5px;
};
