form.signup,
form.login {
  margin-top: 50px;
  
};

body {
  background-color: rgb(204,194,192);
  
};
input {
  outline: 1px solid rgb(120,205,209);
};
.welcome {
  
  color:rgb(204,194,192);
}
.displayBox {
  background-color:rgb(120,205,209);
}