<div class="empTaskBlk">
    <div class="form-group">
        <label for="category">Select Task:</label>
        <select class="custom-select" id="taskList">
            <option value="New Job">New Job</option>
            <option value="Search Previous">Search Previous</option>
            <option value="Edit Job">Edit Job</option>
        </select>
    </div>
    <br />
    <button type="submit" class="button" value="Submit input">Submit</button>
</div>
